<%= form_with(model: @group) do |f| %>
  <% if @group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% @group.errors.each do |e| %>
          <li><%= e.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, style: "display: block" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :icon, style: "display: block" %>
    <%= f.text_field :icon %>
  </div>

  <div class="btn">
    <%= f.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to groups", groups_path %>
</div>