<%= render '/navbar' %>

<div class="center-div">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, placeholder: "E-mail", autofocus: true, class: "button input" %>
    </div>

    <div class="field">
      <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "button input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "button green-btn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
